<!DOCTYPE html>
<html>
<head>
    <title>Pending Material Requests</title>
    <link rel="stylesheet" type="text/css" href="/css/alterRequests2.css" />
    <link rel="stylesheet" type="text/css" href="/css/logout.css" />
    <link rel="shortcut icon" href="../graphics/favicon.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/scripts/alterRequests.js"></script>
</head>
<body>

    <h2>Alter Material Requests</h2><br />

    <div class="pendingRequestsTable" style="overflow-x:auto;">

        <% if(result.length == 0) { %>
        <table>
            <tr>No pending requests found.</tr>
        </table>

        <% } else { %>
        <div class="tableContainer">
            <div class="sidePanelWrapper">
                <div class="table" cellpadding="0" cellspacing="1">
                    <div class="thead">
                        <div class="tr">
                            <div class=td>Material Number</div>
                            <div class=td>Description</div>
                            <div class=td>Comment</div>
                            <div class=td>Quantity Required</div>
                            <div class=td>Uom</div>
                            <div class=td>Batch Number</div>
                            <div class=td style="display:table-cell">Quantity Issued</div>
                            <div class=td style="display:table-cell">Source Location</div>
                            <div class=td>Destination Location</div>
                            <div class=td>Transaction #</div>
                            <div class=td>Thaw Required</div>
                            <div class=td>Refreeze Date</div>
                            <div class=td>Requester</div>
                            <div class=td>Requested Time</div>
                            <div class=td>Date Required</div>
                            <div class=td>Approving Manager</div>
                            <div class=td>Manager Approved Time</div>
                            <div class=td>Approving Planner</div>
                            <div class=td>Planning Approved Time</div>
                            <div class=td>Material Issuer</div>
                            <div class=td>Material Issued Time</div>
                            <div class=td>Request Altered By</div>
                            <div class=td>Request Altered Time</div>
                            <div class=td>Update/Delete</div>
                        </div>
                    </div>

                    <div class="tbody">

                        <% for(var i = 0; i < result.length; i++) { %>
                        <form class="tr" id="row<%= i %>" autocomplete="off">
                            <% var editable = true; %>

                            <% for (var property in result[i]) { %>
                            
                            
                            <% if(property == 'requester') { %>
                                <% editable = false; %>
                            <% } %>

                            <% if(editable) { %>

                                <% if(property == 'idmaterial_request') { %>
                                    <div style="display:none" class="td"><input class="matId" type="hidden" name="<%= property %>" value="<%= result[i][property]; %>"/></div>
                                <% } else { %>
                                    <div class="td"><input class="textInput" type="text" name="<%= property %>" value="<%= result[i][property]; %>" /></div>
                                <% } %>
                            <% } else { %>
                                
                                <% if(property == 'date_required') { %>
                                     <div class="td"><input class="textInput" type="text" name="<%= property %>" value="<%= result[i][property]; %>" /></div>
                                <% } else { %>
                                    <div class="td" name="<% property %>"><%=result[i][property];%></div>

                                    <% } %>
                                <% } %>
                            <% } %>

                            <div class="td editRow">
                                <input id="button<%= i %>" class="submitBtn" type="submit" value="Update"/><br />
                                <input class="deleteChkbox" type="checkbox" name="delete" value="1" /><label>Delete</label>
                            </div>
                        </form>
                        <% } %>

                    </div>

                </div>
            </div>
        </div>
        <% } %>

    </div>

    <a class="logoutLink" href="http://localhost:8080/logout">Logout</a>

</body>
</html>
