<!DOCTYPE html>
<html>
<head>
    <title>Vendors</title>
    <link rel="stylesheet" type="text/css" href="/css/vendors.css" />
    <link rel="stylesheet" type="text/css" href="/css/basicResultsTable.css" />
    <link rel="stylesheet" type="text/css" href="/css/search.css" />
    <link rel="stylesheet" type="text/css" href="/css/nav.css" />
    <link rel="shortcut icon" href="/graphics/favicon.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script src="/scripts/addNewUser.js"></script>
    <script src="/scripts/vendors.js"></script>
</head>
<body>

    <div class="admin-col-left">
        <ul class="breadcrumb">
            <li>
                <a href="/main">Main</a> <span class="divider">/</span>
            </li>
            <li class="active">
                <span>Vendors</span>
            </li>
            <breadcrumb></breadcrumb>
        </ul>
    </div>

    <p class="noResults" style="display:none">Nothing was found with those parameters. Please try again</p>

    <div class="sidePanelWrapper">

        <div class="contentWrapper">

            <div class="searchUi">

                <label>Search Parameters</label>
                <select id="parameters">
                    <option value="" selected="true">Search By All</option>
                    <option value="2">Vendor Name</option>
                    <option value="3">Item Name</option>
                    <option value="4">City</option>
                    <option value="5">Payment Terms</option>
                </select>

                <div class="searchWrapper">
                    <input class="searchField" type="search" placeholder="Search Vendors" name="search" />
                </div>
            </div>

            <div class="resultsTable">
                <div class="content">
                
                    <form>
                        <table cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Vendor Name</th>
                                    <th>Street Address</th>
                                    <th>City</th> 
                                    <th>State</th>
                                    <th>Zip Code</th>
                                    <th>Payment Terms</th>
                                    <th></th>
                                </tr>
                                <tbody>
                                    <% for (var i = 0; i < vendors.length; i++) { %>
                                        <tr>
                                            <% for (var property in vendors[i]) { %>
                                                <% if (property != 'vendor_id') { %>
                                                    <td><input type="text" name="<%= property %>" value="<%= vendors[i][property] %>"/></td>
                                                <% } else { %>
                                                    <td name="<%= property %>" style="display: none;"><%= vendors[i][property] %></td>
                                                <% } %>
                                            <% } %>
                                            <td><a href="/main/vendors/id/<%= vendors[i]['vendor_id'] %>/name/<%=vendors[i]['vendor_name'] %>">View Items</a></td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </thead>
                        </table>
                    </form>

                </div>
            </div>

        </div>
    </div>

    <a href="logout">Logout</a>
</body>
</html>
